.form-card{
    max-width: 600px;
    max-height: 750px;
    margin: auto;
    margin-top: 50px;
}
.example-card {
    max-width: 600px;
}
.avatar{
    justify-self: flex-start;
}
.mat-card-actions{
    display: flex;
    justify-content: flex-end;
}
.description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.mat-card-title{
    cursor: pointer;
}