<div class="form-card">
  <mat-card class="example-card card-hover">
      <mat-card-header>
        <div mat-card-avatar>
          <ngx-avatar size="40" [value]="data.creatorUsername[0]+data.creatorUsername[1]"></ngx-avatar>
        </div>
        <mat-card-title class="font-title-r" (click)="DetailedView()">{{data.title}}</mat-card-title>
        <mat-card-subtitle>{{data.creatorUsername}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="description">
            {{data.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="DetailedView()">VIEW MORE</button>
      </mat-card-actions>
  </mat-card>
</div>