.form-card{
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
}
.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.example-card {
    margin: 10px;
    max-width: 600px;
    padding: 25px;
}
.mat-card-actions{
    display: flex;
    justify-content: space-around;
}
.created{
    text-align: end;
}
.favorite{
    margin-left: auto;
}
.mat-card-title{
    margin: 0px 20px;
    margin-top: 8px;
    font-size: 24px;
}
.mat-card-subtitle{
    margin: 0px 20px !important;
    font-size: 18px;
    /* color: #00000; */
}
.mat-card-content{
    padding: 25px 0;
    margin: 0;
}
div > p{
    font-size: 24px;
}
.icon-info{
    display: flex;
    align-items: center;
    align-content: center;
}
.icon-info > .mat-icon{
    margin: 0 10px;
}
.mat-card-header{
    padding-bottom: 25px;
}
.applied{
    padding-bottom: 50px;
    margin: 0 10px;
}
.applied > p{
    margin-top: 50px;
    text-align: center;
}
.favorites{
    padding-bottom: 50px;
    margin: 0 10px;
}
.favorites > p{
    margin-top: 50px;
    text-align: center;
}