<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
  </div>
  <div class="form-card" *ngIf="!isLoadingResults">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar>
            <ngx-avatar size="55" [value]="DATA.username[0]+DATA.username[1]"></ngx-avatar>
          </div>
          <mat-card-title>{{DATA.fullName}}</mat-card-title>
          <mat-card-subtitle>{{DATA.profileTitle}}</mat-card-subtitle>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content class="first-content">
          <p>
            {{DATA.bio}}
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
          <div class="icon-info">
            <mat-icon>location_on</mat-icon>
              {{DATA.location}}
          </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-content>
            <p>Skills</p>
            <mat-chip-list
            class="example-chip"
            cdkDropList 
            cdkDropListOrientation="horizontal">
            <mat-chip
              class="example-box"
              cdkDrag
              *ngFor="let skill of skills">
              {{skill}}
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>

        <mat-divider *ngIf="DATA.workExperience?.length"></mat-divider>

        <mat-card-content >
          <p>Education</p>
          <div *ngFor="let ed of DATA.education">
            <div class="icon-info">
              <mat-icon>school</mat-icon>
                {{ed.university + ", "}}
                {{ed.degree + ", "}}
                {{ed.graduation}}
            </div>
          </div>
        </mat-card-content>

        <mat-divider *ngIf="DATA.workExperience?.length"></mat-divider>

        <mat-card-content *ngIf="DATA.workExperience?.length" >
          <p>Work Experience</p>
          <div *ngFor="let work of DATA.workExperience">
            <div class="icon-info">
              <mat-icon>work</mat-icon>
                {{work.position + " at "}}
                {{work.company + " during "}}
                {{work.period}}
            </div>
          </div>
        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions>
          <button mat-button (click)="ShowFavorites()">{{showFavorites ? "Hide Favorite Jobs" : "Show Favorite Jobs"}}</button>
          <button mat-button (click)="ShowApplied()">{{showApplied ? "Hide Applied Jobs" : "Show Applied Jobs"}}</button>
        </mat-card-actions>
    </mat-card>

    <div *ngIf="showFavorites" class="favorites">
      <p class="font-title-m">Favorites</p>
      <div *ngFor="let job of favoriteJobs">
        <app-job-offer-view [data]="job"></app-job-offer-view>
      </div>
    </div>
    <div *ngIf="showApplied" class="applied">
      <p class="font-title-m">Applied</p>
      <div *ngFor="let job of appliedJobs">
        <app-job-offer-view [data]="job"></app-job-offer-view>
      </div>
    </div>

  </div>