<mat-toolbar class="nav">
    <div class="menu">
        <!-- <button mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button> -->
        <span [routerLink]="''">Job Listings</span>
    </div>
    
    <div *ngIf="!service.IsAuthenticated()">
        <button mat-stroked-button [routerLink]="'login'">Log In</button>
        <button mat-stroked-button color="primary" [routerLink]="'signup'">Register</button>
    </div>
    <div *ngIf="service.IsAuthenticated() && (this.service.GetUserInfo().type === 'seeker')">
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <ngx-avatar size="40" [value]="this.service.GetUserInfo().username[0]"></ngx-avatar>
        </button>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item [routerLink]="'jobs'">
                    <mat-icon>dashboard</mat-icon>
                    <span>Job Listings</span>
                </button>
                <button mat-menu-item routerLink="profile">
                    <mat-icon>account_circle</mat-icon>
                    <span>Profile</span>
                </button>
                <button mat-menu-item (click)="Logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
                </button>
            </mat-menu>
    </div>
    <div *ngIf="service.IsAuthenticated() && (this.service.GetUserInfo().type === 'recruiter')">
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <ngx-avatar size="40" [value]="this.service.GetUserInfo().username[0]"></ngx-avatar>
        </button>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item (click)="Logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
    </div>
</mat-toolbar>
