.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-space{
    padding-bottom: 50px;
    margin: 0 10px;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.search-input{
    width: 550px;
}
.search-icon{
    display: flex;
    align-self: center;
}