
<div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoadingResults" class="bottom-space">
    <div class="search">
        <button class="search-icon" mat-icon-button disabled>
            <mat-icon>search</mat-icon>
          </button>
        <mat-form-field floatLabel="never" class="search-input">
            <input matInput placeholder="Search" (input)="OnSearchChange($event)">
          </mat-form-field>
    </div>
    <div *ngFor="let data of DATA">
        <app-job-offer-view [data]="data"></app-job-offer-view>
    </div>
</div>