.form-card{
    max-width: 500px;
    max-height: 750px;
    margin: auto;
    margin-top: 100px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs{
    margin: 15px;
    width: 400px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description{
    height: 250px;
}
mat-card-title{
    margin: 25px 0;
}