<div class="form-card">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>New Job Offer</mat-card-title>
      </mat-card-header>
      <form [formGroup]="newJobForm" (ngSubmit)="OnSubmit()">
  
        <mat-card-content class="content">
            <mat-form-field class="inputs">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title">
                <mat-error>
                    Title is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            
              <mat-form-field class="inputs">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description..." class="description" formControlName="description"></textarea>
                <mat-error>
                    Description is <strong>required</strong>
                </mat-error>
              </mat-form-field>
  
        </mat-card-content>
  
        <button mat-flat-button color="primary" type="submit">Submit</button>
  
      </form>
    </mat-card>
  </div>