<div>
</div>
<div class="wrapper">

    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>

    <div class="search-add">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Keyword" #input>
        </mat-form-field>
        <button mat-mini-fab matTooltip="Create a job offer" color="primary" [routerLink]="'/createjob'">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    
    <table *ngIf="!isLoadingResults" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
        <!-- Name Column -->
        <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- buttons -->
        <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="action"> Actions </th>
        <td mat-cell *matCellDef="let actions; let i = index" class="action"> 
            <button mat-icon-button color="basic" (click)="OnEdit(i)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="OnDelete(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
        </ng-container>

    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
</div>