<mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="signUpForm">
      <form [formGroup]="signUpForm">
        <ng-template matStepLabel>Fill out account details</ng-template>
        <mat-card-content class="content">

          <mat-form-field class="inputs">
            <input matInput placeholder="Username" formControlName="username">
            <mat-error>
              Username is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="userName?.errors?.validUsername">
              Username can only contain letters and numbers
            </mat-error>

          </mat-form-field>
  
          <mat-form-field class="inputs">
            <input matInput type="email" placeholder="Email" formControlName="email">
          </mat-form-field>
  
          <mat-form-field class="inputs">
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error>
              Password must contain 1 letter, 1 number and be at least 8 characters long
            </mat-error>
          </mat-form-field>

          <mat-form-field class="inputs">
            <input matInput type="password" placeholder="Confirm Password" formControlName="cpassword" [errorStateMatcher]="errorMatcher">
            <mat-error>
              Passwords do not match
            </mat-error>
          </mat-form-field>

          <mat-form-field class="inputs">
            <mat-label>Select account type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="recruiter">Recruiter</mat-option>
              <mat-option value="seeker">Job Seeker</mat-option>
            </mat-select>
          </mat-form-field>
  
        </mat-card-content>
  
        <button mat-flat-button color="primary" (click)="onSubmit()" *ngIf="signUpForm.value.type !== 'seeker'">Submit</button>
        <button mat-button matStepperNext type="button" *ngIf="signUpForm.value.type === 'seeker'">Next</button>
        <div class="not-registered">
          <p>Already have an account?</p>
          <a class="create-account" href="login">Log in</a>
        </div>
  
      </form>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup" *ngIf="signUpForm.value.type === 'seeker'">
      <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmit()">
        <ng-template matStepLabel>Fill out profile details</ng-template>

        <mat-form-field class="inputs">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="fullName" placeholder="John Doe" required>
          <mat-error>
            Full Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="inputs">
          <mat-label>Profile Title</mat-label>
          <input matInput formControlName="profileTitle" placeholder="Senior Front-End Developer" required>
          <mat-error>
            Profile Title is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="inputs">
          <mat-label>Location</mat-label>
          <input matInput formControlName="location" placeholder="Where are you based?" required>
          <mat-error>
            Location is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="inputs">
          <mat-label>Bio</mat-label>
          <textarea matInput placeholder="Short description about yourself" class="description" formControlName="bio"></textarea>
        </mat-form-field>

        <mat-form-field class="inputs">
          <mat-label>Skills</mat-label>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let skill of skills" [selectable]="selectable"
                     [removable]="removable" (removed)="removeSkill(skill)">
              {{skill}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="New skill..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addSkill($event)">
          </mat-chip-list>
        </mat-form-field>

        <div formArrayName="education" class="education-loop">
          <div *ngFor="let el of educationForm.controls; let i = index" [formGroupName]="i">

            <mat-form-field class="education-inputs">
              <mat-label>University</mat-label>
              <input matInput formControlName="university" placeholder="University of Tirana">
            </mat-form-field>
            <mat-form-field class="education-inputs">
              <mat-label>Degree & Major</mat-label>
              <input matInput formControlName="degree" placeholder="Bachelors in Computer Science">
            </mat-form-field>
            <mat-form-field class="education-inputs">
              <mat-label>Graduation year</mat-label>
              <input matInput formControlName="graduation" placeholder="2021">
            </mat-form-field>

            <button mat-icon-button color="warn" type="button" (click)="DeleteEducation(i)">
              <mat-icon>delete</mat-icon>
            </button>

          </div>
          <div class="education-btn">
            <span>Add Education</span>
            <button mat-icon-button type="button" (click)="AddEducation()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>
        
        <div formArrayName="workExperience" class="education-loop">
          <div *ngFor="let el of workExperienceForm.controls; let i = index" [formGroupName]="i">

            <mat-form-field class="education-inputs">
              <mat-label>Company</mat-label>
              <input matInput formControlName="company" placeholder="LHIND">
            </mat-form-field>
            <mat-form-field class="education-inputs">
              <mat-label>Position</mat-label>
              <input matInput formControlName="position" placeholder="Software Developer">
            </mat-form-field>
            <mat-form-field class="education-inputs">
              <mat-label>Period</mat-label>
              <input matInput formControlName="period" placeholder="June 2020 - August 2021">
            </mat-form-field>

            <button mat-icon-button color="warn" type="button" (click)="DeleteWorkExperience(i)">
              <mat-icon>delete</mat-icon>
            </button>

          </div>
          <div class="education-btn">
            <span>Add Work Experience</span>
            <button mat-icon-button type="button" (click)="AddWorkExperience()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <div class="final-buttons">
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-flat-button color="primary" type="submit">Submit</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>