.form-card{
    max-width: 700px;
    max-height: 750px;
    margin: auto;
    margin-top: 50px;
}
.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.example-card {
    max-width: 700px;
}
.mat-card-actions{
    display: flex;
    justify-content: flex-end;
}
.created{
    text-align: end;
}
.favorite{
    margin-left: auto;
}
.mat-card{
    margin: 0 10px;
}