<div class="example-loading-shade" *ngIf="isLoadingResults">
  <mat-spinner></mat-spinner>
</div>
<div class="form-card" *ngIf="!isLoadingResults">
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar>
          <ngx-avatar size="40" [value]="DATA.creatorUsername[0]+DATA.creatorUsername[1]"></ngx-avatar>
        </div>
        <mat-card-title class="font-title-r">{{DATA.title}}</mat-card-title>
        <mat-card-subtitle>{{DATA.creatorUsername}}</mat-card-subtitle>
        <button mat-icon-button color="accent" class="favorite" matTooltip="Remove from favorites" (click)="RemoveFavorite()" *ngIf="isFavorite">
          <mat-icon>star</mat-icon>
        </button>
        <button mat-icon-button color="accent" class="favorite" matTooltip="Add to favorites"  (click)="AddFavorite()" *ngIf="!isFavorite">
          <mat-icon>star_border</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{DATA.description}}
        </p>
      </mat-card-content>
      <mat-card-content>
        <p class="created">
          Posted on: 
          {{createdAt | date:'medium'}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="ApplyJob()">APPLY</button>
      </mat-card-actions>
  </mat-card>
</div>