/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.font-title-m{
    font-family: 'Montserrat', sans-serif;
}
.font-title-r{
    font-family: 'Roboto', sans-serif;
}
.mat-card{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) !important;
    border: 1px solid #e9e9e9;
    padding: 25px !important;
}
.card-hover:hover{
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05) !important;
}
.mat-table{
    box-shadow: 0 7px 25px -5px rgba(0,0,0,0.15),0 1px 10px -5px rgba(0,0,0,0.04) !important;
}