.form-card{
    max-width: 500px;
    max-height: 750px;
    margin: auto;
    margin-top: 100px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs{
    margin: 15px 0;
    width: 400px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description{
    height: 250px;
}
mat-card-title{
    margin: 25px 0;
}
.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }